{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    {% block content %}
    {{block.super}}

    <div class="row">
        {% for pic in post %}
        <div class="col-md-4">
            <a target="_blank" rel="noopener noreferrer" href="{{pic.link}}"><img class="imgt" src="{{pic.image.url}}"
                    alt=""></a>
            <h1>{{pic.title}}</h1>
            <h4>{{pic.description}}</h4>
        </div>
        {% endfor %}
    </div>

    {% endblock content %}

</body>

</html>