{% extends 'base.html' %}
{% load bootstrap4  %}

{% block content %}
{{block.super}}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% bootstrap_form form %}
                </div>
                <input type="submit" class="btn btn-success btn-lg" value="POST">
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}
    